.center {
    display: flex; flex-direction: column;
    align-items: center;
    padding-top: 15px;
}
.btn {
    padding: 7px 22px;
    border-radius: 3px;
    margin-left: 10px;
    background: rgb(0, 0, 0);
    color: white;
    font-family: Manrope;
    border: none;
}
#root {
    background: linear-gradient(325deg, rgb(112, 255, 212) 0%, rgb(149, 177, 255) 100%);
}
.padding {
    background: rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(20px);
}
.padding h2 {
    font-family: Manrope;

}
.alertBit {
    width: 360px; height: auto;
    position: absolute; background: rgba(241, 241, 241, 0.7);
    font-family: Manrope; padding: 20px;
    text-align: center; display: flex; 
    backdrop-filter: blur(10px);
    justify-content: center; align-items: center;
    font-weight: 200; flex-direction: column;
    margin-top: 5vh;
}
.alertClose {
    background: black; color: white;
    font-family: Manrope; 
    font-weight: 200;
    font-size: 16px;
    width: 30px; height: 30px;
    border-radius: 50%;
    position: absolute;
    display: flex; justify-content: center; align-items: center;
    top: 5px; right: 5px; border: none; box-shadow: none;
}


.uploadBtn {
  background-color: indigo;
  color: white;
  padding: 0.7rem;
  border: none;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

#file-chosen{
  margin-left: 0.3rem;
  font-family: sans-serif;
}

.instagramDetails {
    display: flex; flex-direction: column;
    gap: 10px;
}
.instagramDetails  input {
    background: rgba(255, 255, 255, 0.84); border: 1px solid white;
    padding: 5px; border-radius: 5px; outline:none;
}
.instaSubmit {
    background: black; color: white;
    border:  none; padding: 10px; border-radius: 6px;
    font-family: Manrope; font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 40px;
}
.instagramShare {
    background: none; border: none;
    margin-bottom: 25px;
    font-family: Manrope;
    font-size: 18px; font-weight: 300;
}