
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  position: fixed; top: 0; left: 0;
  z-index: 10000;
}
.obj {
  width: 6px;
  height: 40px;
  background:linear-gradient(0deg, rgb(116, 255, 213) 0%, rgb(154, 143, 255) 100%);
  margin: 0 3px;
  border-radius: 10px;
  animation: loading 0.8s linear infinite;
  transform-origin: bottom;
}

@keyframes loading {
  0% { transform: scaleY(0); }
  50% { transform: scaleY(1); }
  100% { transform: scaleY(0); }
}

.obj:nth-child(2) {
  animation-delay: 0.1s;
}

.obj:nth-child(3) {
  animation-delay: 0.2s;
}

.obj:nth-child(4) {
  animation-delay: 0.3s;
}

.obj:nth-child(5) {
  animation-delay: 0.4s;
}

.obj:nth-child(6) {
  animation-delay: 0.5s;
}

.obj:nth-child(7) {
  animation-delay: 0.6s;
}

.obj:nth-child(8) {
  animation-delay: 0.7s;
}