.header {
    width: 100%;
    height: 75px; 
    background: rgb(84, 3, 177);
    display: flex; justify-content: space-around;
    align-items: center;
}
.header button {
    background: transparent;
    border: none;
    color: white;
    font-family: manrope;
    font-weight: 200;
    font-size: 18px;
    cursor: pointer;
}