.search {
    font-family: Manrope;
    width: 100%;
    height: 40px;
    display: flex; justify-content: center;
    padding-top: 50px;
}
.search button {
    background: black; color: white;
    font-family: Manrope; font-weight: 200;
    width: 100px;
    border: none; border-radius: 3px;
}
.search input {
    border-radius: 3px; border: 1px solid #adadad;
    width: clamp(50%, calc(100% - 100px), 100%); outline: none;
}